header {
  background-color: rgb(244, 217, 247);
  height: 54px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  color: rgb(187, 84, 199);
}

.fa-tag,
.fa-bookmark,
.fa-heart {
  font-size: 1.5rem;
}

.fa-times,
.cart-icon {
  font-size: 1.2rem;
}

.fa-star {
  color: gold;
}

.back:hover,
.cart-icon:hover,
img:hover {
  cursor: pointer;
}

.category-item{
  height: 120px;
  width: 160px;
  border-radius: 9%;
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(rgba(98, 98, 98, 0.69), rgba(98, 98, 98, 1.2)); */
  margin: .25rem;
}

.navbar {
  background-color: rgb(244, 217, 247);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 54px;
  font-size: 2rem;
}

.cart-input {
  width: 340px;
  height: 40px;
  left: 11px;
  top: 117px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
