header {
  background-color: rgb(244, 217, 247);
  height: 54px;
}

.logo {
  color: rgb(187, 84, 199);
}

.fa-times,
.cart-icon {
  font-size: 1.2rem;
}

.fa-star {
  color: gold;
}

.back:hover,
.cart-icon:hover,
img:hover {
  cursor: pointer;
}

.category-item{
  height: 120px;
  width: 160px;
  border-radius: 9%;
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(rgba(98, 98, 98, 0.69), rgba(98, 98, 98, 1.2)); */
  margin: .25rem;
}

/* .category-text {
  font-size: larger;
  color: white;
  position: relative;
  top: 2.5rem;
  left: 2.5rem;
} */
